/* General Styles */
body {
  background-color: lightyellow;
}

/* Heading Styles */
h1{
  color: teal;
}

/* Button Styles */
button{
  color: crimson;
}

/* Paragraph Styles */
p{
  color: black;
}

/* Input Styles */
input{
  color: darkgreen;
}

/* Feedback Styles */
.correct {
  color: green;
}

.wrong {
  color: red;
}
