/* ░██████╗░██╗░░░██╗██╗███████╗░░░░░░░██████╗░░█████╗░███╗░░░███╗███████╗ */
/* ██╔═══██╗██║░░░██║██║╚════██║░░░░░░██╔════╝░██╔══██╗████╗░████║██╔════╝ */
/* ██║██╗██║██║░░░██║██║░░███╔═╝█████╗██║░░██╗░███████║██╔████╔██║█████╗░░ */
/* ╚██████╔╝██║░░░██║██║██╔══╝░░╚════╝██║░░╚██╗██╔══██║██║╚██╔╝██║██╔══╝░░ */
/* ░╚═██╔═╝░╚██████╔╝██║███████╗░░░░░░╚██████╔╝██║░░██║██║░╚═╝░██║███████╗ */
/* ░░░╚═╝░░░░╚═════╝░╚═╝╚══════╝░░░░░░░╚═════╝░╚═╝░░╚═╝╚═╝░░░░░╚═╝╚══════╝ */
/**/
/* Daniel Moshi, Noah Månsson Persson, Ramin Samadi */
/* https://github.com/EEEEHHHHHH/Quiz-Game/blob/main/style.css */
/* NAME: style.css */
/* DESC: CSS for our Quiz-Game website */

/* General Styles */
body {
  background-color: lightyellow;
}

/* Heading Styles */
h1{
  color: teal;
}

/* Button Styles */
button{
  color: crimson;
}

/* Paragraph Styles */
p{
  color: black;
}

/* Input Styles */
input{
  color: darkgreen;
}

/* Feedback Styles */
.correct {
  color: green;
}

.wrong {
  color: red;
}
